<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Унылое говно{% endblock %}</title>
		<meta http-equiv = "Content-Type" content = "text/html; charest = utf-8">
		<link type="text/css" rel="stylesheet"  href="/static/PTSansWeb/stylesheet.css" />
		<link type="text/css" rel="stylesheet"  href="/static/styles2.css" />
		<link type="text/css" rel="stylesheet" href="/static/code.css"/>
		<script type = "text/javascript" src = "/static/jquery-1.8.3.js"></script>
		<script type = "text/javascript" src = "/static/tooltipsy.source.js"></script>
		<script type = "text/javascript" src = "/static/scripts.js"></script>
		<!-- bb-editor -->
		<script type = "text/javascript" src = "/static/wysibb/jquery.wysibb.js" charset="utf-8"></script>
		<link rel="stylesheet" href="/static/wysibb/theme/default/wbbtheme.css" type="text/css" />
		
	</head>
	
	<body>
	
	{% block add_btn %}
	<div class = "add_article" >
		<div>
			<a href = "/add_article/"><span id="main_add_btn" >Добавить статью</span></a>
		</div>
	</div>
	{% endblock %}
	
	{% block article_form %}
	{% endblock %}
	
	{% block container%}	
	<div class = "container" id = "container" >
		<div class = "content">	
		{% block content %}
		{% endblock %}
		</div>
		
		<!-- <div class = "sidebar_border" id = "sidebar_border"></div>  -->
		
		<div class = "sidebar">	
			<div class = "logo"><a href = "/"><img class = "logo_img" src="/static/logolol21.png"></a></img></div> 
			
			<div class = "info">
			{% block sidebar %}
			<h2>Что вы тут устроили?!</h2>
			Пока - ничего, а в будующем планируется притон сумашедших, с блэкджеком и... В общем, все как водится, не переживайте, дорогие мои.
			{% endblock %}
			</div>
		</div>
		
		
		{% block low_nav %}
		<div class = "low_nav">
			{% if prev_page_id %}
			<a href = "{{prev_page_id}}"><span style = "float: left; margin: 0 0 0 30px;"><<  Предыдущая</span></a>
			{% endif %}
			{% if next_page_id %}
			<a href = "{{next_page_id}}"><span style = "float: right; margin: 0 30px 0 0;">Следующая  >></span></a>
			{% endif %}
		</div>
		{% endblock %}
		
		
		<div class = "footer">	
		Сделано Ко-ко-котом своими ручками, своими ножками и хвостиком. Пока что защищать нечего, так что хаос и анархия.
		</div>
	</div>
	{% endblock %}
	</body>
</html>